/* 
The styles used in OpenXava are the specified ones in JSR-168 and WSRP.
The styles in this file are only for the aspects not included in 
JSR-168 and WSRP and needed by OpenXava.
*/

#xava_loading { 
	padding: 20px;	
	border: none; 
	background: #d3d3d3;
	opacity:.60;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;	  
	color: white;
	text-shadow:0px -1px 1px rgba(0,0,0,0.75); 
	font-weight: bold; 
	-webkit-box-shadow: 10px 10px 10px rgba(140,140,140,0.75);
	-moz-box-shadow: 10px 10px 10px rgba(140,140,140,0.75);
	box-shadow: 10px 10px 10px rgba(140,140,140,0.75);
	display:none; 
	z-index: 9999999; 
	position: fixed; 
	top: 25%; 
	left: 45%	
}

.ie6 #xava_loading { 
	position: absolute;	
}

.xava_handle {
	cursor: move;
}

.liferay4-selected-row td {
	background: #BFC2E4;
}

.selected-row td {
	background: #ffc !important;
}

TABLE.list {	
	background: white;
}

TH.list {
	background: #FFCC00;
	font-weight: normal; 
}

.list-odd {
	font-weight: normal; 
	background: #eeeeee;
}

.list-pair {
	font-weight: normal;
	background: #cccccc; 
}

.list-odd-selected {
	font-weight: bold;
	color: #3366ff;
	background: #eeeeee;
}

.list-pair-selected {
	font-weight: bold;
	color: #3366ff;
	background: #cccccc;
}

.portlet-section-header a {
	color: #7b7c7f;
}

.portlet-section-header a:hover {
	text-decoration: none;
}

.results-row .mdi-check {
	color: green;
	font-weight: bold;
	font-size: 160%;
	margin-left: -7px; 
}

.websphere-list-selected {
	font-weight: bold;
}

.liferay-list-selected {
	font-weight: bold;
}

.row-highlight A.row-highlight {
	font-weight: bold;
	color: #3366ff;
}

.current-row  {	
	font-weight: bold;
	outline-color: blue;
	outline-style: solid;
	outline-width: thin;
}

TR.list-subheader {
	font-weight: normal;
	background: #dddddd;	 
}

.list-info {
	font-weight: bold;
}

.list-info-detail {
	height: 30px;
}

TABLE.frame {
	border-collapse: collapse;
	border-color: #dddddd;
	border-style: solid;
	border-width: 1px;
}

TR.frame {
	background: #dddddd;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

TD.frame {
	padding: 5 5 5 5;
}

.small-label {
	font-size: 8pt;
}

.errors {
	color: #ff0000; 
	font-weight: bold;
	font-size: 10pt;
}

.messages {
	color: #3366ff;
	font-weight: bold;
	font-size: 10pt;
}

.ox-messages-wrapper, .ox-errors-wrapper {
	position: fixed;
	top: 32px;
	z-index: 9999999;
}

.ox-messages-wrapper {
	left: 32px;
}

.ox-errors-wrapper {
	right: 32px;
}

.portlet-msg-error .mdi-close, .portlet-msg-alert .mdi-close,
.portlet-msg-success .mdi-close, .portlet-msg-info .mdi-close
{
	color: black;
	font-weight: bold;
	float: right;
	margin-left: 10px;
}

#xava_processing_layer {
	position:absolute;
	right: calc(50% - 120px);
	top: 50%;	
	font-weight: normal; 
	background: #eeeeee;
	z-index: 999999999;
	line-height:1.4;
	padding:25px 80px;
	border:2px solid #000;
}

.jetspeed2-list-info, TR.jetspeed2-list-info, TD.jetspeed2-list-info {
	font-size: x-small;
}

.jetspeed2-list-order-by A:link {
	color: white;	
	text-decoration: underline;
}

.websphere-list-title {
	font-weight: bold;	
}


TD.mode {
	font-weight: bold;	
}

TD.list-title {
	font-weight: bold;
	text-align: left;
}

.PTitleContent {
	color: black;
}

.ox-sections { 
	width: 100%;
}

.section {
	border-collapse: collapse;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.activeSection {
	border-top-color: #FFCC00;
	border-left-color: #dddddd;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;

	border-style: solid;

	border-top-width: 2px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
}

.TabMidle .TabMiddleLow {
	background-color: #FFCC00;
}

.websphere-frame-title-label {
    font-weight: normal;    
}

.liferay-xava-frame-core {
	border: 1px solid #CCCCCC;
	border-top: 0px;
	padding: 2px;
}

.results-header .liferay-xava-cell-wrapper a {
	display: inline;
}

.ox-resize-columns .results-header .mdi-close-circle {
	position: absolute;
	right: 0px;
	padding-right: 10px;
}

.liferay-xava-cell-wrapper {
	border: 1px solid #CCCCCC;
}

.liferay-xava-editor-wrapper {
	padding-right: 12px; 
	padding-bottom: 6px;
}
	
.liferay-xava-label {
	padding-right: 5px; 
	vertical-align: middle;
}

.liferay6-xava-label {
	font-weight:bold;
}

.editor, .portlet-form-input-field {
	color: #000000;	   	
}

.wpsTableHead {
	border-left-width: 1px;
	border-left-style: solid;
}

.wpsPagingTableHeaderMiddle {
	padding: 5px;
}

.wpsPagingTableHeaderMiddle .ui-resizable-e {
	background-image: url("liferay51/images/application/handle_vertical.png");
	background-position: center;
	background-repeat: no-repeat; 	
	bottom: 0;
	top: 0;
	width: 14px;
}

.wpthemeSecondaryBanner {
	border-top: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.bold-label {
	font-weight:bold;
}

.italic-label {
	font-style:italic; 
}

.reverse-label {
	color: white;
	background-color: black;
}

.page-navigation-selected {	
	font-weight: bold;
	border-style: solid; 
	border-color: buttonshadow; 
	border-width: 1px;  
	padding: 4px 4px 4px 6px; 	
}

.ie7 .page-navigation-selected {
	padding: 2px 4px 2px 4px; 
	vertical-align: 3px; 	
}

.page-navigation {
	border-style: solid; 
	border-color: buttonshadow; 
	border-width: 1px;  
	padding: 2px 4px 2px 4px; 
	background-color: #DCDCDC;	
	text-decoration: none; 
	font-weight: normal
}

.ie7 .page-navigation {
	vertical-align: 3px; 
}

.ie7 .rows-per-page {
	vertical-align: 3px;
}

.page-navigation-arrow, .page-navigation-arrow:hover {
	background-color: transparent;
	border: none;
	padding: 0;
}

.page-navigation-arrow-disable i { 
	color: lightgrey;
}

.ox-button-bar {
	background: #F6F8FB;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 2px;
}

.ie6 .ox-button-bar {
	width: 100%;
}

.ox-button-bar .ox-button-bar-button a, .ox-card { 
	background: url() no-repeat 5px 50%; 	
	border: 1px solid #F6F8FB;
	color: #9EA8AD;
	display: block;
	float: left; 	 
	font-size: 12px;
	font-weight: bold;	
	padding: 4px 4px 4px 0px;  
	text-decoration: none;	
}

.ox-button-bar .ox-button-bar-button a:hover, 
.ox-list-formats i:hover, .ox-chart-type i:hover, .ox-card:hover {   
	border: 1px solid #A7CEDF;	
	background-color: #DFF4FF;
	color: #346799; 
	padding: 4px 4px 4px 0px;
	text-decoration: none;   
}

.ox-button-bar-button a span {
	padding: 6px;
}



.green .ox-button-bar .ox-button-bar-button a:hover {	
	background-color: #D9F4CB;
	border-color: #BBEAA4
}

.orange .ox-button-bar .ox-button-bar-button a:hover {
	background-color: #F4EACB;
	border-color: #EAD8A4;			
}

.ox-button-bar-button span {
	margin-right: -7px;  
}

.ox-list-mode .ox-button-bar a[id*="new"], .ox-list-mode .ox-button-bar a[id*="new"] i,
.ox-frame .ox-button-bar span:nth-of-type(1) a, .ox-frame .ox-button-bar .ox-collection-list-actions span:nth-of-type(1) i,
.ox-sections .ox-button-bar span:nth-of-type(1) a, .ox-sections .ox-button-bar .ox-collection-list-actions span:nth-of-type(1) i
{
	color: black;
}

.ox-list-mode .ox-button-bar a[id*="new"]:hover, .ox-list-mode .ox-button-bar a[id*="new"]:hover i,
.ox-frame .ox-button-bar span:nth-of-type(1) a:hover, .ox-frame .ox-button-bar .ox-collection-list-actions span:nth-of-type(1) a:hover i,
.ox-sections .ox-button-bar span:nth-of-type(1) a:hover, .ox-sections .ox-button-bar .ox-collection-list-actions span:nth-of-type(1) a:hover i
{
	color: blue;
}

.portlet-content i {
	vertical-align: middle; 
	font-size: 140%; 
	color: #9EA8AD; 
}

.portlet-content a:hover i  {   
	color: #346799;
}

.page-navigation-arrow i { 
	font-size: 250%; 
}

.ox-image-link i, .ox-customize-controls i {  
	padding: 4px;
}

.ox-button-bar .ox-button-bar-button i, .ox-collection-list-actions i {
	margin-left: 5px; 
	vertical-align: -2px; 
}

.ox-list-formats i {
	margin-left: -5px;	 
	font-size: 150%;
	padding: 5px;
	border: 1px solid transparent;   
}

.ox-list-formats i:hover {
	padding: 5px;  
}

.ox-list-formats a, .ox-chart-type a, .ox-customize-controls a:hover, a.ox-image-link:hover {   
	text-decoration: none;
}

.ox-selected-list-format i, .ox-selected-list-format:hover i, .ox-card { 
	color: #000; 
	background: white;
	border-radius: 2px;
	padding: 5px;
	border: 1px solid #C6C6C6;	
	box-shadow: 0px 0px 5px #CCCCCC inset;  
}

a.ox-selected-list-format, a.ox-selected-list-format:hover {
	pointer-events: none;
   	cursor: default;
}

.ox-total-row i {
	font-size: 120%;
	margin-right: -6px;
}

.ox-cut-row {
	opacity: 0.3;
}

.ox-button-bar a:focus {
	outline: none;
}

.ox-action-link {
	margin-left: 7px;
}

.ox-help img {
	border: 0;
	padding-top: 5px;
	padding-left: 5px;	
}

.ox-filter-cell {
	text-align: center;
}

.ox-label { 
	text-align: left;
	padding-top: 6px; 
	padding-right: 7px; 	
}

.ox-label, .ox-layout-not-aligned-cell  {
	vertical-align: top;
}

.ox-frame-totals {
	float: right; 
}

.ox-frame-sibling {     
	padding-left: 4px;
	float: left;
}

.ox-frame {
	 display: table;
	 border-collapse: separate; 
	 width: 100%;
}

.ox-frame-totals-label {
	font-weight: normal;
}

.ox-frame-totals-value {
	font-weight: bold;
}

.ui-dialog { 
	width: auto; 
	z-index: 999;
	overflow: visible !important;
}
		
/* ---------- Styling for Default Layout Painter ---------- */
.ox-layout-label-cell {
	text-align:left;
}

.ox-layout-data-cell {
	
}

.ox-layout-row-spacer {
	height: 4px;
}

/* ---------- Styling for Subcontrollers ---------- */
.ox-subcontroller-button  .mdi-menu-down {
	margin: 0px !important; 
	margin-right: -5px !important;
}

.firefox div.ox-subcontroller, .ui-autocomplete {
	padding: 0;
	margin: 0;
	margin-top: 14px; 
	position: absolute; 
	clear: both; 
	background-color: rgb(246, 248, 251); 
	display: none; 
	z-index: 999;
	box-shadow: 0px 3px 3px #DDDDDD;
}

div.ox-subcontroller, .ui-autocomplete {
	padding: 0;
	margin: 0;
	margin-top: 26px; 
	position: absolute; 
	clear: both; 
	background-color: rgb(246, 248, 251); 
	display: none; 
	z-index: 999;
	box-shadow: 0px 3px 3px #DDDDDD;
}

div.ox-subcontroller table{
	padding: 0;
	margin: 0;
	width: 100%;
	border: 1px solid #CCCCCC;
}

div.ox-subcontroller table tr td{
	float: inherit;
	width: 97%;	
	text-align: left;
	background-color: rgb(246, 248, 251);
	z-index: 999; 
	padding: 4px;
}

div.ox-subcontroller table tr td a{
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important; 
}

span.ox-subcontroller-select a{
	border: 1px solid #A7CEDF !important;
}

.ui-dialog .ox-element-collection > div {
	width: 100% !important; /* To avoid horizontal scroll bar in element collection inside dialog, such as Import dialog */
}

.ox-element-collection .form-text { 
	width: 100%; 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
}

.ct-chart {
	margin-top: -5px;
	margin-left: -25px;
}

.ox-charts .portlet-topper { 
	display: none;

}

.ox-charts .portlet { 
	margin-bottom: 5px;
	margin-right: 0px;
	padding: 10px 0px 3px 10px; 
	border-radius: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;	
	border: none;
	box-shadow: none; 
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
}

.ox-chart-x-column select {
	position: relative;
	left: calc(45vw - 290px);
	width: 270px; 
}

.ox-chart-type {
	margin-left: 20px;
}

.ox-chart-type i { 
	padding: 5px;
	border: 1px solid transparent;
	font-size: 200%;   
}

.ox-chart-type i:hover { 
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	padding: 5px;
	box-shadow: 0px 1px 3px #CCCCCC; 
	-moz-box-shadow: 0px 1px 3px #CCCCCC; 
	-webkit-box-shadow: 0px 1px 3px #CCCCCC;
}

.ox-selected-chart-type i { 
	color: #000; 
	background: white;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #C6C6C6;	
	box-shadow: 0px 0px 7px #CCCCCC inset;  
}

.ox-charts .portlet-section-header, .ox-charts .frame {  
	display: none;
}

.ox-charts td, .ox-charts tr, .ox-charts table { 
	border: none !important;
	background-color: transparent !important;
}

.ct-chart { 
	margin-top: 20px;
}

.ox-charts .ox-element-collection {
	width: 200px;
	margin-left: -32px;
	margin-right: -25px;
}

.ox-charts .ox-element-collection i {
	margin-right: -15px;
}

.ox-charts .ox-element-collection select {
	width: 120px;
}

#xava_search_columns {  
	margin-bottom: 5px;
}

#xava_search_columns_text { 
	width: calc(100% - 10px); 
	padding: 5px;
	background-image: url("/html/icons/search.png");
	background-position: calc(100% - 5px);
	background-repeat: no-repeat;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	outline: 0;
}

#xava_add_columns, .ox-icons-list {  
	margin-bottom: 5px;	
	padding: 1px;
	max-height: 70vh;
	overflow-y: auto;
}

.ox-frame table { /* To avoid a blank line produced by the error icon where an editor with frame uses a table as external container */
	clear: none;
}

.ox-customize-controls i {
	color: black;
}

.mdi-filter-remove {
	margin-left: 1px;
	margin-right: -1px;
}

i.ox-sort-indicator, i.ox-sort-indicator2 {
	color: black;
	vertical-align: middle;
}

i.ox-sort-indicator2 {
	font-size: 100%;
	padding: 1px;
}

i.mdi-eraser {
	position: relative;
	left: 25%;
}

.results-row .mdi-swap-vertical { 
	color: black; 
	font-weight: bold;
}

.ox-radio-buttons {
	margin: 3px 0px 3px 0px;
}

input[type="radio"] {
	margin: 2px 0px 4px 10px;
	vertical-align: middle;
}

.ui-autocomplete {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    border-color: #CCC !important;
    z-index: 9999999999 !important;  
 }
 
.ui-autocomplete-input::-ms-clear, .ox-date-calendar ::-ms-clear, .ox-web-url ::-ms-clear {   
 	display: none; 
 }
 
.ui-menu-item:hover, .ui-widget-content .ui-state-focus {
 	border-color: #DFF4FF !important; 
 	background: #DFF4FF !important;
}
 
.ox-descriptions-list i {
 	position: relative; 
 	right: 28px; 
 	top: -1px;
 	margin-right: -26px; 	
 	padding: 5px;
}

.ox-element-collection .ox-descriptions-list input {
 	position: relative; 
 	top: 1px;
}

span[id*="reference_editor"] + .ox-layout-detail {
	margin-top: 4px;
}

.ox-image-link .mdi-magnify {
	color: black;
	font-weight: bold;
}

.ox-required-editor input {
	border-color: #56b4ef !important; /* To work in dialog */
}

.ox-error-editor input {
	border-color: #DC4A38 !important; /* To work in dialog */
}

.ox-icon i {
	position: relative;
	left: -10px;	
	top: 0px;
	color: black;
	z-index: 10;
	margin-right: -14px;
}

.ox-icon i.mdi-crop-free {
	position: relative;
	top: 0px;
	left: 0px;
	font-size: 250%;
	color: lightgray;
}

.ox-icon i.mdi-close-circle {
	font-size: 110%;
	position: relative;
	left: -6px;
	top: -9px;
	margin-right: -20px;
}

.ox-icon i.mdi-plus {
	font-weight: bolder;
	color: lightgray;
}

.ox-icons-list {
	max-width: 750px;
}

.ox-icons-list i:hover {
	background: #DFF4FF;
	border: 1px solid #EBEBEB; 
	cursor: pointer;
}

.ox-icons-list i {
	font-size: 300%; 
	padding: 10px;
	border: 1px solid transparent; 
}

.ox-icon-in-list i {
	color: black;
}

a.cke_button_off {
	opacity: .4;
}

.cke_toolgroup {
	border: 0px !important;
	background: transparent !important;
}

a.cke_button_off, a.cke_button_disabled, .cke_button_on {
	padding: 4px 4px 4px 4px; !important;
}

a.cke_button_off, a.cke_button_disabled {
	border: 1px solid transparent !important;
}


a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active {
	opacity: .6;
	border: 1px solid #A7CEDF !important;	
	background: #DFF4FF !important;
	color: #346799 !important; 
	box-shadow: none !important;  

}

a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
	background: transparent !important;
	background-image: none !important;
	box-shadow: none !important; 
}

.list-title { 
	padding: 0px;
	margin-bottom: 10px;
	font-size: 15px;
}

.list-title i { 
	font-size: 17px;
	margin-left: 5px;
	margin-right: 0px;
	padding: 1px 0px 1px 0px;
	vertical-align:top;
}

.list-title select {
	margin-bottom: 5px;
}

.list-title select:nth-of-type(2) {
	float: right;
}

.list-title select:nth-of-type(2) option {
	text-align-last: left;
}

.list-title a { 
	font-weight: normal;
	font-size: 12px;
}

#list-title {
	font-weight: bold;
	margin-left: 20px;
}

.ox-money b {
	width: 0px; 
	position: relative;
	left: 5px;
	top: 5px;
	float: left; 
}

.ox-two-collections-in-a-row {
	overflow: auto; 
	display: block; 
	width: calc(50% - 16px);
}

.results-header span {
	display: initial;
}

.ie .ox-cards {
	width: 100vw;
}

.ox-cards {
	display: inline-flex;
	flex-wrap: wrap;
	padding: 0px 5px 3px 5px;
}

.ox-card, .ox-card:hover {
	color:  #9EA8AD;
	flex: 0 1 330px;
	margin: 6px;
	padding: 8px 10px 5px 10px;
}

.ox-card:hover, .ox-card:hover .ox-card-header {
	cursor: pointer;
	color: #346799;
}

.ox-card-header {
	color: black;
	float: left;
	font-size: larger;
	font-weight: bold;
}

.ox-card-subheader {
	float: right;
}

.ox-card-content {
	font-weight: normal;
	margin: 20px 0px 3px 0px;
}

#xava_loading_more_elements {
	min-height: 20px;
}

#xava_loading_more_elements img {
	vertical-align: bottom;
}

.ox-no-objects {
	margin: 10px;
	font-size: larger;
	font-weight: bold;
}

.ui-tooltip, .arrow:after {
	background: black !important;
	border: 1px solid white;
}

.ui-tooltip {
	padding: 10px 20px;
	color: white !important;
	border-radius: 4px;
	font-weight: bold;
	font-size: 12px;
	box-shadow: 0 0 7px black;
}

.arrow {
	width: 23px;
	height: 26px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	margin-left: -33px;
	bottom: calc(30% - 5px);
}

.arrow.top {
	top: 16px;
	bottom: auto;
}

.arrow.left {
	left: 10px;
}

.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -2px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	transform: rotate(135deg);
}

.arrow.top:after {
	bottom: 20px;
	top: auto;
}

.ox-subscribed i, .ox-unsubscribed i {
	vertical-align: 3px;

}

.ox-subscribed i {
	color: blue; 
}

.ox-unsubscribed i {
	color: lightgray; 
}
