/* tmp */

@import 'light.css';

:root {
	
	/* Modules left menu */	
	--modules-list-color: var(--my-lightgray); 
	--modules-list-background: #0059ff;
	--modules-list-selected-color: white;

	--my-highlight: #2850a7;
	--my-highlight: #009ADA;
	--my-highlight: #0059ff;
	--my-highlight:	#fe0000;
	
	/* TMP ME QUEDÉ POR AQUÍ: INTENANTANDO HACER UN BLUE MÁS CHULO ANTES DE HACER EL PANTALLAZO */			
}


