@import 'light.css';

:root {

	--my-blue: rgb(51, 103, 214);
	--my-dark-blue: #2850a7;
	--my-red: #fe0000;
	--my-highlight:	var(--my-red);
	
	/* Modules left menu */	
	--modules-list-color: var(--my-lightgray); 
	--modules-list-background: var(--my-dark-blue);
	--modules-list-selected-color: white;

	/* Module header */	
	--module-header-color: white;
	--module-header-background: var(--my-blue);			

	/* Editors */
	--required-editor-border: var(--my-blue);
	--input-focus-border: var(--my-dark-blue);
}
