/*
Put here your own style
*/
.red-label {
	color: red;
	font-weight:bold;
}

/* tmp ini */
.read-only .filepond--drop-label {
	display: none !important;

}

.read-only .filepond--action-remove-item {
	display: none;
}
/* tmp fin */