/* tmp */

@import 'base.css';

:root {
	--chrome-blue: rgb(51, 103, 214);
	--chrome-lightgray: rgb(248, 249, 250);
	--chrome-gray: rgb(95, 99, 104);
	--chrome-black: rgb(32, 33, 36);
	--chrome-white: white;
	--chrome-darkblue: #2850a7;
	
	--color-a: var(--chrome-lightgray);
	--color-b: var(--chrome-black); 
	--color-c: var(--chrome-gray);
	--color-d: var(--chrome-blue);
	--color-e: var(--chrome-black);
	--color-b2: var(--chrome-white); 
	--color-b3: var(--chrome-lightgray);
	--color-b4: var(--color-b2);
	--color-b5: var(--color-b);
	--color-b-soft: rgba(32, 33, 36, 0.4);
	--color-b-softer: rgba(32, 33, 36, 0.2);
	
	/* Modules left menu */	
	--modules-list-color: var(--chrome-gray); 
	--modules-list-background: var(--chrome-lightgray);
	--modules-list-selected-color: var(--chrome-black);
		
	/* Module header */				
	--module-header-color: var(--chrome-black);
	--module-header-background: var(--chrome-white);		
		
	/* Button bar */
	--button-bar-background: var(--chrome-lightgray);
	--list-formats-color: gray;	
	--list-formats-hover-color: var(--chrome-gray);
	
	/* Background & labels */
	--background: var(--color-a);
	--color: var(--color-b);
	
	/* Actions */
	--action-color: var(--chrome-gray);
	--action-hover-color: var(--chrome-black);  
	--action-hover-background: lightgray;	
	--default-action-button-background: var(--color-d);
	
	/* Editors */
	--required-editor-border: gray;
	
	/* Sections */
	--section-color: var(--color-b3);
	--section-background: var(--color-b-softer);
	/* TMP ME QUEDÉ POR AQUÍ: QUIZÁS DEBERÍA HACER LOS FRAMES ANTES Y USAR SUS COLORES PARA LAS SECCIONES */
	
	/* */
	 
 
	 	
	--cke-button-on-background: lightgray;
	--dialog-titlebar-color: var(--chrome-black); 
	 	 
	--dialog-background: var(--color-a);
	--dialog-titlebar-background: var(--color-a);
	--cke-top-background: var(--chrome-lightgray); 
	--cke-button-off-background: lightgray; 
	 
}

.ox-button-bar {
	box-shadow: 0px 1px 3px lightgray; 		
}

.ox-frame, #sign_in_box, .ox-card {  
	box-shadow: 0px 0px 3px var(--chrome-gray); 
}

.ox-action-link:hover, .ox-image-link:hover, .ox-page-navigation:hover, .ox-page-navigation-arrow:hover {
	color: var(--action-hover-color) !important; /* tmp ¿A base? */ 
}

.ox-list, .ox-chart-data {
	box-shadow: 0px 0px 3px var(--chrome-gray); 
}

.ox-list-header, .ox-list-subheader {	
	background: var(--chrome-white); 
	border-bottom: 1px solid lightgray; 
}

.ox-list-subheader {
	padding-top: 5px; 
}

.cke_chrome {
	border-radius: 2px ; 
    box-shadow: 0px 0px 3px var(--chrome-gray) !important; 
}

.ox-card-content b {
	color: var(--chrome-gray); 
}

.ox-card:hover .ox-card-content b {
	color: var(--chrome-black); 
}

