/* tmp */

@import 'base.css';

:root {
	/* tmp chrome- --> my- */
	--chrome-blue: rgb(51, 103, 214);
	--chrome-lightgray: rgb(243, 243, 243);
	--chrome-gray: rgb(95, 99, 104);
	--chrome-black: rgb(32, 33, 36);
	--chrome-white: white;
	--chrome-darkblue: #2850a7;
	
	--color-a: var(--chrome-lightgray);
	--color-c: var(--chrome-gray);
	--color-d: var(--chrome-blue);
	
	/* Modules left menu */	
	--modules-list-color: var(--chrome-gray); 
	--modules-list-background: var(--chrome-lightgray);
	--modules-list-selected-color: var(--chrome-black);
		
	/* Module header */				
	--module-header-color: var(--chrome-black);
	--module-header-background: var(--chrome-white);		
		
	/* Button bar */
	--button-bar-background: var(--chrome-lightgray);
	--list-formats-color: gray;	
	--list-formats-hover-color: var(--chrome-gray);
	
	/* Backgrounds & labels */
	--background: var(--chrome-white);
	--color: var(--chrome-black);
	
	/* Frames */
	--frame-background: var(--chrome-lightgray);
	
	/* Actions */
	--action-color: var(--chrome-gray);
	--action-hover-color: var(--chrome-black);  
	--action-hover-background: lightgray;	
	--default-action-button-background: var(--color-d);
	
	/* Editors */
	--required-editor-border: gray;
	
	  
}


