/* pink.css */

@import 'base.css';

:root {
	--my-pink: #E94E77;
	--my-dark-pink: #D68189;
	--my-beige: #F4EAD5;
	--my-brown: #C6A49A;
	--transparent-pink: rgb(198, 164, 154, 0.2); 
	
	 
	/* Modules left menu */
	--modules-list-color: var(--my-beige);
	--modules-list-background: var(--my-pink);
	--modules-list-selected-color: white;
	 
	/* Module header */ 
	--module-header-color: white;
	--module-header-background: var(--my-pink);		
	
	/* Button bar */	 
	--button-bar-button-color: var(--my-beige);
	--button-bar-background: var(--my-dark-pink);
	--list-formats-color: var(--my-beige);
	--list-formats-hover-color: white;
	
	/* Backgrounds & labels */
	--background: var(--my-beige);
	--color: var(--my-brown);
	
	/* Frames */	
	--frame-background: var(--transparent-pink);
	
	/* Actions */
	--action-color: var(--my-dark-pink);	
	--action-hover-color: var(--my-pink);
	--action-hover-background: white;
	--default-action-button-background: var(--my-pink);
	
	/* Editors */
	--required-editor-border: var(--my-dark-pink);
	
}


