/* TMP */

@import 'base.css';

:root {
	--light-terra: #E8DDCB;
	--dark-terra: #806632; 
	--color-c: #036564;
	--color-d: #033649;
	--terra: #CDB380; 
	
	/* Modules left menu */
	--modules-list-color: var(--light-terra);
	--modules-list-background: var(--color-d);
	--modules-list-selected-color: white;
	--modules-list-selected-border-right: red;
	 
	/* Module header */ 
	--module-header-color: white;
	--module-header-background: var(--color-d);		
	
	/* Button bar */	 
	--button-bar-background: var(--terra);
	--list-formats-color: var(--light-terra);
	--list-formats-hover-color: white;
	
	/* Backgrounds & labels */
	--background: var(--light-terra);
	--color: var(--dark-terra);
	
	/* Frames */	
	--frame-background: rgba(205, 179, 128, 0.2);
	
	/* Actions */
	--action-color: var(--color-c);	
	--action-hover-color: var(--color-d);
	--action-hover-background: white;
	--default-action-button-background: var(--color-d);
	
	/* Editors */
	--required-editor-border: var(--terra);
		 
						
}


