@import 'base.css';

:root {
	--terra: #CDB380;
	--light-terra: #E8DDCB;
	--dark-terra: #806632;
	--transparent-terra: rgba(205, 179, 128, 0.2); 
	--acqua: #036564;
	--acqua-profonda: #033649;
	 
	/* Modules left menu */
	--modules-list-color: var(--light-terra);
	--modules-list-background: var(--acqua-profonda);
	--modules-list-selected-color: white;
	--modules-list-selected-border-right: red;
	 
	/* Module header */ 
	--module-header-color: white;
	--module-header-background: var(--acqua-profonda);		
	
	/* Button bar */	 
	--button-bar-background: var(--terra);
	--list-formats-color: var(--light-terra);
	--list-formats-hover-color: white;
	
	/* Backgrounds & labels */
	--background: var(--light-terra);
	--color: var(--dark-terra);
	
	/* Frames */	
	--frame-background: var(--transparent-terra);
	
	/* Actions */
	--action-color: var(--acqua);	
	--action-hover-color: var(--acqua-profonda);
	--action-hover-background: white;
	--default-action-button-background: var(--acqua-profonda);
	
	/* Editors */
	--required-editor-border: var(--terra);
	
}
