/* TMP */

@import 'base.css';

:root {
	--color-a:  #E8DDCB;
	--color-b:  #806632; 
	--color-c:  #036564;
	--color-d:  #033649;
	--color-e:  #031634;
	--color-b2: #CDB380; 
	--color-b3: #be9c5a;
	--color-b4: var(--color-b2);
	--color-b5: var(--color-b);
	--color-b-soft: #dfcfad;
	--color-b-softer: rgba(205, 179, 128, 0.2);
	
	/* Modules left menu */
	--modules-list-color: var(--color-a);
	--modules-list-background: var(--color-d);
	--modules-list-selected-color: white;
	--modules-list-selected-border-right: red;
	 
	/* Module header */ 
	--module-header-color: white;
	--module-header-background: var(--color-d);		
	
	/* Button bar */	 
	--button-bar-background: var(--color-b2);
	--list-formats-color: var(--color-a);
	--list-formats-hover-color: white;
	
	/* Backgrounds & labels */
	--background: var(--color-a);
	--color: var(--color-b);
	
	/* Frames */	
	--frame-background: rgba(205, 179, 128, 0.2);
	
	/* Actions */
	--action-color: var(--color-c);	
	--action-hover-color: var(--color-d);
	--action-hover-background: white;
	--default-action-button-background: var(--color-d);
	
	/* Editors */
	--required-editor-border: var(--color-b2);
		 
	/* Cke */
	--cke-button-on-background: var(--color-a);
	--cke-top-background: var(--color-b-soft); 
	--cke-button-off-background: white; 					
}

.ox-button-bar {
	box-shadow: 0px 2px 9px var(--button-bar-background);	
}

.ox-list-mode .ox-button-bar a[id*="new"], .ox-list-mode .ox-button-bar a[id*="new"] i,
.ox-collection-list-actions > span:nth-of-type(1) a, 
.ox-collection-list-actions > span:nth-of-type(1) i
{
	border: 1px solid transparent; 
}

.ox-action-link:hover {        
	color: var(--action-hover-color); /* tmp ¿A base? */ 
}

#sign_in_box, .ox-card {  
	box-shadow: 2px 2px 9px var(--frame-shadow); 
}


.ox-list, .ox-chart-data {
	box-shadow: 1px 1px 11px var(--list-shadow); 
}

.ox-list-header, .ox-list-subheader {	
	background: var(--color-b-soft); /* tmp ¿Qué hacemos con --list-header-background?*/
}

.cke_chrome {
	box-shadow: none !important; 
}

.ox-card-content b {
	color: var(--card-content-b-color); 
}

.ox-card:hover .ox-card-content b {
	color: var(--card-content-b-hover-color); 
}
