@import 'base.css';

:root {
	--my-highlight: rgb(51, 103, 214);
	--my-lightgray: rgb(243, 243, 243);
	--my-transparent-lightgray: rgb(128, 128, 128, 0.1);	
	--my-gray: rgb(95, 99, 104);
	--my-black: rgb(32, 33, 36);
	
	/* Modules left menu */	
	--modules-list-color: var(--my-gray); 
	--modules-list-background: var(--my-lightgray);
	--modules-list-selected-color: var(--my-black);
		
	/* Module header */				
	--module-header-color: var(--my-black);
	--module-header-background: white;		
		
	/* Button bar */
	--button-bar-background: var(--my-lightgray);
	--list-formats-color: gray;	
	--list-formats-hover-color: var(--my-gray);
	
	/* Backgrounds & labels */
	--background: rgb(247, 247, 247); /* TMR ME QUEDÉ POR AQUÍ. HICE ESTO, PERO LOS MARCOS DE LOS FRAMES PARECEN MUY OSCUROS, MIRARLO */	
	--color: var(--my-black);
	
	/* Frames */
	--frame-background: var(--my-transparent-lightgray);

	/* Actions */
	--action-color: var(--my-gray);
	--action-hover-color: var(--my-black);  
	--action-hover-background: lightgray;	
	--default-action-button-background: var(--my-highlight);
	
	/* Editors */
	--required-editor-border: gray;
	--calendar-selected-day: gray; 
	
}
