* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.java text diff=java
*.xml text diff=xml
*.properties text
*.jsp text
*.js text
*.css text
*.html text diff=html
*.sql text
*.txt text
*.yml text
*.yaml text
*.md text diff=markdown
*.gradle text diff=java
*.jar binary
*.war binary
*.zip binary
*.tar binary
*.gz binary
*.rar binary
*.class binary
*.dll binary
*.ear binary
*.ico binary
*.gif binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
