<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>OpenXava Application</display-name>
  
  <!-- Evitar problema de bloqueo de archivos de IntelliJ en Windows -->
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>suppressSmap</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  
  <!-- Para cumplir con OWASP -->
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error500.html</location>
  </error-page>
  
</web-app>
