.fc-toolbar-title {
  display: inline;
  padding: 5px;
  vertical-align: middle;
}

#xava_calendar {
 margin-left: 30px;
 width: 90vh; 
 height: 76.3vh;
 
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day {
 min-height: 1em;
}

.fc .fc-button-primary {
 color: var(--calendar-button-color);
 background-color: transparent;
 border-color: transparent; 
}

.fc .fc-button-primary:hover {
 background-color: var(--calendar-button-hover-background);
 color: var(--calendar-button-hover-color);
 border-color: transparent; 
}

.fc-daygrid-day:hover {
 background-color: var(--calendar-day-hover-background) !important;
 cursor: pointer;
}

.fc-daygrid-day-bg::before {
  display: block;
  font-family: 'Material Design Icons';
  content: "\F419";
  padding: 7px 0px 0px 7px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  color: var(--calendar-button-color);
  opacity: 0.7;
}

.fc-daygrid-day-bg:hover::before {
  content: "\F417";
  opacity: 1;
}

.fc-day-today {
 background: var(--calendar-today-background) !important;
}

.fc-button {
  box-shadow: none !important;
}

#xava_calendar table,
#xava_calendar th,
#xava_calendar td {
  border-color: var(--calendar-cell-border-color);
}

.hoverEffect {
    font-size: 29px;
    position: absolute;
    margin: 30px 55px;
    cursor: pointer;
}

.fc-timegrid-col-events {
	max-width:80%;
}

.fc-event-tooltip{
    width: auto;
    position:absolute;
    z-index:10001;
    transform:translate3d(-50%,-100%,0);
    font-size: 0.8rem;
    line-height: 1rem;
}

.fc-event-tooltip div{
    padding:10px;
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: #fff;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.fc-event-tooltip div:first-child{
    font-weight:bold;
    color:White;
}

.fc-event-tooltip div:last-child{
    background-color:black;
    position:relative;
}

.fc-event-tooltip div:last-child::after, .fc-event-tooltip div:last-child::before{
    width:0;
    height:0;
    border:solid 7px transparent;
    border-bottom:0;
    border-top-color:black;
    position: absolute;
    display: block;
    content: "";
    bottom:-7px;
    left:50%;
    transform:translateX(-50%);
}

.fc-event-tooltip div:last-child::before{
    bottom:-5px;
}

.fc-event-main {
	background-color: var(--calendar-event-background);
}

.fc-event {
	background-color: var(--calendar-event-time-background);
}

.fc-popover-header {
	background-color: var(--calendar-popup-background)!important;
	color: var(--calendar-popup-title-color);
}

.fc-popover-body  {
	background-color: var(--calendar-popup-background);
}

