/*
Pon aquí tu propio estilo
*/

[id$="_CuadroMando__core"] .ox-view {
	max-width: 900px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

[id$="_CuadroMando__editor_sumaTotal"] .ox-large-display {
    width: 307px;
}
