/*
Pon aquí tu propio estilo
*/

#logo {
	margin-top: 110px;
	margin-bottom: 60px;
	text-align: center;
}

#logo div {
    color: white;
	display: inline;
	padding: 0px 20px 10px 20px;
	background: #CDB380;
	font-size: 250%;
    box-shadow: 0px 0px 9px #CDB380;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.mobile #logo div {
	font-size: 150%;
}

.grupo {   
	text-align: left;
	padding: 0px;
	margin-bottom: 80px;
	font-size: 90%;
	font-weight: lighter;
}

.bloque {
	max-width: 950px;
	margin: 30px auto 60px auto;
}

.bloque h4 {
	color: #033649;
	margin-bottom: -10px;
}

.mobile .bloque {
	margin: 30px 0px 30px 0px;
}
