/BeansContext.properties
/Corporation.html
/CorporationEmployee.html
/Customer.jrxml
/Film.jrxml
/GalleryImage.hbm.xml
/Images.jrxml
/Invoice.jrxml
/InvoiceNoVAT.jrxml
/LoginContextFactory.properties
/META-INF/
/OpenXavaTest-labels_ca.properties
/OpenXavaTest-labels_en.properties
/OpenXavaTest-labels_es.properties
/OpenXavaTest-labels_fr.properties
/OpenXavaTest-messages_ca.properties
/OpenXavaTest-messages_en.properties
/OpenXavaTest-messages_es.properties
/OpenXavaTest-messages_fr.properties
/Products.jrxml
/application.xml
/code-generators.xml
/controllers.xml
/converters.xml
/default-size.xml
/dtds/
/editors.xml
/hibernate-junit.cfg.xml
/hibernate.cfg.xml
/jndi-jboss.properties
/jndi-websphere.properties
/jndi.properties
/logging.properties
/naviox-users.properties
/naviox.properties
/org/
/portlets/
/stereotype-type-default.xml
/tabs-default-values.xml
/validators.xml
/xava-junit.properties
/xava.properties
