.colorful-color-black input { color: black; }
.colorful-background-black input { background: black; }
.colorful-color-white input{ color: white; }
.colorful-background-white input{ background: white; }
.colorful-color-red input{ color: red; }
.colorful-background-red input{ background: red; }
.colorful-color-green input{ color: green; }
.colorful-background-green input{ background: green; }
.colorful-color-blue input{ color: blue; }
.colorful-background-blue input{ background: blue; }
.colorful-color-yellow input{ color: yellow; }
.colorful-background-yellow input{ background: yellow; }
.colorful-color-orange input{ color: orange; }
.colorful-background-orange input{ background: orange; }
.colorful-color-purple input{ color: purple; }
.colorful-background-purple input{ background: purple; }
.colorful-color-gray input{ color: gray; }
.colorful-background-gray input{ background: gray; }
.colorful-color-pink input{ color: pink; }
.colorful-background-pink input{ background: pink; }