.corporation-employee-list-select {
	margin-bottom: 6px;	
}

/* tmr ini */
/* tmr ¿Así o debería ser más automático? 
	Así queda mucho más bonito, especialmente cuando se ensacha la pantalla
	Los número exacto podrían depender del contenido y forma del dashboard
*/
#ox_openxavatest_StaffDashboard__core .ox-view {
	max-width: 1065px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
/* tmr fin*/