/* tmr 
- Mover a openxava como dark.css
- Verificar colores en un Windows 10 con último IntelliJ 
*/

@import 'base.css';

:root {
	--my-dark: #3c3f41;
	--my-lightdark: #4e5254;
	--my-darker: #2d2f30; /* tmr Todavía sin usar */
	--my-blue: #365880;
	--my-blue: #4b6eaf; /* TMR ME QUEDÉ POR AQUÍ PROBANDO AZULES PARA LAS ACCIONES */
	--my-blue: #529cbd;	
	--my-silver: #bbbbbb;
	 
	/* Modules left menu */
	--modules-list-color: var(--my-silver);
	--modules-list-background: var(--my-dark);
	--modules-list-selected-color: var(--my-silver);
	--modules-list-selected-background: var(--my-blue);
	--modules-list-selected-border-right: var(--my-blue);

	/* Module header */ 
	--module-header-color: var(--my-silver);
	--module-header-background: var(--my-dark);		

	
	/* Button bar */	 
	--button-bar-background: var(--my-lightdark);
	--list-formats-hover-color: white;
	
	/* Backgrounds & labels */
	--background: var(--my-dark);
	--color: var(--my-silver);
	
	/* Frames */	
	--frame-background: var(--my-lightdark);
	
	/* Actions */
	--action-color: lightgray;	
	--action-hover-color: white;
	--action-hover-background: transparent;
	--default-action-button-background: var(--my-blue);
	--default-action-button-color: white; 
	--default-action-button-shadow: none;
	--default-action-button-hover-shadow: none;
	--list-row-action-color: gray; 
	--list-row-action-hover-color: var(--my-dark);
	--reference-search-icon-color: var(--my-dark); 
	
	/* Editors */
	--required-editor-border: green;
	--input-focus-border: var(--my-blue); 

	--button-bar-shadow: black; 
	--shadow: black; 
	
	--html-text-button-hover: lightgray;
	
	--autocomplete-scrollbar-background: lightgray; 
	--ui-menu-item-state-focus-background: lightgray; 
	--scrollbar-color: lightgray;  
	
	/* Calendar */
	--calendar-cell-border-color: white;
	--calendar-day-hover-background: hsla(0, 0%, 50%, 0.5);
	--calendar-today-background: hsla(0, 0%, 70%, 0.7);
	--calendar-event-background : var(--my-dark);
	--calendar-event-time-background:  var(--my-dark);
	--calendar-popup-background: lightgray;
	--calendar-popup-title-color: var(--my-dark);
}
