@import 'base.css';

:root {
	--mi-rosa: #E94E77;
	--mi-rosa-oscuro: #D68189;
	--mi-beis: #F4EAD5;
	--mi-marron: #C6A49A;
	--rosa-transparente: rgb(198, 164, 154, 0.2); 
	
	 
	/* Menú de módulos de la izquierda */
	--modules-list-color: var(--mi-beis);
	--modules-list-background: var(--mi-rosa);
	--modules-list-selected-color: white;
	 
	/* Cabecera del módulo */ 
	--module-header-color: white;
	--module-header-background: var(--mi-rosa);		
	
	/* Botonera */	 
	--button-bar-button-color: var(--mi-beis);
	--button-bar-background: var(--mi-rosa-oscuro);
	--list-formats-color: var(--mi-beis);
	--list-formats-hover-color: white;
	
	/* Fondos y etiquetas */
	--background: var(--mi-beis);
	--color: var(--mi-marron);
	
	/* Marcos */	
	--frame-background: var(--rosa-transparente);
	
	/* Acciones */
	--action-color: var(--mi-rosa-oscuro);	
	--action-hover-color: var(--mi-rosa);
	--action-hover-background: white;
	--default-action-button-background: var(--mi-rosa);
	
	/* Editores */
	--required-editor-border: var(--mi-rosa-oscuro);
	
}